################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Texto/MONOGRAFIA Andres Giraldo - Copy.pdf
